/* You can add global styles to this file, and also import other style files */

.mat-mdc-cell, .mat-mdc-header-cell, th, td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
